.button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	padding: 2px 15px;
}

.button:hover {
	transform: scale(1.1);
}

.searchOptionsButton {
	background-color: grey;
	height: 20px;
	transition: 0.3s;
	text-transform: uppercase;
	margin: 0 10px;
}

.sortOptionsButton {
	height: 20px;
	transition: 0.3s;
	text-transform: lowercase;
	color: black;	
}

.searchButton {
	background-color: red;
	text-transform: uppercase;
	padding: 5px 70px;
	transition: 0.3s;
}

.activeButton {
	background-color: red;
	transition: 0.3s;
}