.container {
  height: 100vh;
    background-image: url('https://www.meme-arsenal.com/memes/4f3646ee1952ac74fa2cde64fb80f513.jpg');
    background-position: center 60%;
    background-repeat: no-repeat;
    background-size: cover;
}

.errorWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 130px;
}

.codeError {
  font-size: 200px;
  color: rgba(255, 255, 255, 0.5);
}

.textError {
  font-size: 70px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 50px;
}
