.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 15%;
	background-color: lightgray;
}

.movieCounter {
	margin-right: 10px;
}

.sortOptions {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	align-items: center;
}

.sortOptions span {
	margin-right: 10px;
	font-weight: 600;
}